<h2>Hello Http</h2>

<div>
  <div>
    <input type="text" [(ngModel)]="inputValue" (keyup.enter)="add()" />
    <button (click)="add()">加入</button>
  </div>
  
  <div>
    <ul *ngFor="let todo of todoList">
      <li (dblclick)="todo.Editing=true" *ngIf="!todo.Editing">
        <span>{{ todo.Thing }}</span>
        <button type="button" class="delete" (click)="delete(todo)">x</button>
      </li>
      <input type="text" #updateInput 
        [(ngModel)]="todo.Thing" 
        *ngIf="todo.Editing" 
        (mouseenter)="updateInput.focus()"
        (keyup.enter)="update(todo)"
        (blur)="update(todo)">
    </ul>
  </div>

  <div>
    <app-a1></app-a1>
    <app-a2></app-a2>
    <app-a3></app-a3>
  </div>
</div>